
            <!-- main start  -->
            <main>
                <div class="container-fluid px-4">
                  <h1 class="mt-4" style="text-align: center;">{{{category_name}}}</h1>               
                  <h2 class="mt-4" style="text-align: center;">{{{idea_name}}}</h2>
                  
            <!-- carousel start  -->
            {{!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              
              <div class="carousel-inner">
                <div class="carousel-item active" 
                style="background-image: url('{{{link_name[0]}}}')">
                </div>
                <div class="carousel-item">
                  <iframe 
                  src="{{{link_name[1]}}}" width="100%" height="100%">
                  </iframe>
                </div>
                <div class="carousel-item">                 
                  <iframe 
                  src="{{{link_name[2]}}}" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen>
                  </iframe>                 
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> --}}
            <!-- carousel end   -->

            <!-- description start -->
            <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-book-open me-1"></i>
                  Description
              </div>
              <div class="card-body" style="text-align: center;"> 
                  {{categories.description}}
              </div>
            </div>
            <!-- description end -->
            
            <!-- table start -->
            <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table me-1"></i>
                  {{categories.category_name}}
              </div>
              <div class="card-body">
                  <table id="datatablesSimple">
                      <thead>
                          <tr>
                              <th>User</th>
                              <th>Content</th>
                              <th>Created</th>
                              <th>Link</th>                                 
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>User</th>
                              <th>Content</th>
                              <th>Created</th>
                              <th>Link</th>    
                          </tr>
                      </tfoot>

                      <tbody>
                          {{#each categories.users as | user |}}
                          <tr>
                            <td>{{user.username}}</td>
                            <td>{{user.Idea.idea_name}}</td>
                            <td>{{user.Idea.createdAt}}</td>
                            <td><a href="{{user.Idea.link_name}}">{{user.Idea.link_name}}</a></td>  
                          </tr>
                          {{/each}}
                      </tbody>

                  </table>
              </div>
          </div>
      </div>
    </main>

